.login-form{
    width: 40%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.login-btn{
    padding: .5rem 1.5rem;
    background-color: #af864d;
    transition: .5s;
    margin-right: 1rem;
    
}
.login-btn:hover{
    background-color: #5B4628;

}

.login-link{
    text-decoration: none;
}
.login-link:hover{
    color: #AF864D;
}

.google-btn{
    color: #141414e0;
   border: .5px solid #af864d6b;
}

/*Make responsive of tablet*/
@media screen and (max-width:992px) {
    .login-form{
        width: 50%;
    }
    
}
/*Make responsive of mobile*/
@media screen and (max-width:576px) {
    .login-form{
        width: 90%;
    }
    
}