.services-wrap {
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    background-image: url(../../../images/services-image.jpg);
}
.services-title-wrap{
    border-top: 0.0625em solid hsla(0, 0%, 100%, 0.16);
    border-bottom: 0.0625em solid hsla(0, 0%, 100%, 0.16);
}
.services-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}

/*Make Mobile Responsive*/
@media screen and (max-width:576px){
    .services-grid-container{
        grid-template-columns: repeat(1, 1fr);
       
    }
    
}
@media screen and (min-width:577px) and (max-width:992px){
    .services-grid-container{
        grid-template-columns: repeat(2, 1fr);
       
    }
    
}