.banner{
    min-height: 650px;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.64);
    background-image: url(../../../images/banner-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.banner-content-wrap{
    width: 60%;
}
.banner-content-wrap h1 {
    font-size: 3.8rem;
    max-width: 709px;
    margin: 0 auto;
}

.banner-caption{
    color: #af864d;
}

.banner-btn{
    padding: 1rem 2rem;
    background-color: #af864d;
    transition: .5s;
    margin-right: 1rem;
    
}
.banner-btn:hover{
    background-color: #5B4628;

}
.banner-btn-2{
    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.12);
    transition: .5s;
}
.banner-btn-2:hover{
    background-color: #5B4628;
    border: 1px solid rgba(255, 255, 255, 0.12);
}


.banner-img-wrap{
 width: 350px;
 height: 350px;
 border-radius: 100%;
 background-color: rgba(255, 255, 255, 0.16);
 background-image: url(../../../images/corner.png);
 background-position: right;
 background-repeat: no-repeat;
 background-size: contain;
 

}

.banner-img{
    width: 100%;
}
/*Make banner responsive */
@media screen and (max-width:576px){
    .banner {
        height: 730px;
    }
    .banner-caption {
        font-size: 10px;
    }
    .banner-content-wrap h1 {
        font-size: 1.6rem;
    }
    .banner-btn {
        padding: .5rem 1.2rem;
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .banner-btn-2 {
        padding: .5rem 1.2rem;
        
    }
    .banner-img{
        width: 75%;
    }

    .banner-img-wrap {
        width: 280px;
        height: 280px;
    }
    
}


/*Tablet and desktop responsive*/
@media screen and (min-width:577px) and (max-width:992px) {
    .services-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .services-title{
        font-size: 28px;
    }
}